@import "compass/css3";

.details{
  margin-top: 50px;}
.intro{
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: mistyrose;
}
.one{
  left: 50px;
  height:100px;
  width:20%;
  margin-right: 40px;
  margin-left: 5px;
  float: left;
  font-family: Helvetica;

}
.two{
  border: 5px solid mistyrose;
  font-family: Helvetica;
  height: auto;
  width:65%;
  float: left;
}
h1{
  padding-top: 27px;
  text-align: center;
  font-family: Helvetica;
  font-weight: lighter;
}
ul{
  line-height: 23px;
  list-style-type: none;
  width:200px;
  background-color: mistyrose;
  margin: 0;
  padding: 0;
}
li a{
  display:block;
  color: black;
  padding: 8px 0 3px 10px;
}
.active {
    background-color: #BFABA9;
    color: black;
}
li a:hover:not(.active) {
  background-color: #E5CDCA;
    color: white;}
p{
  margin: 10px;
  font-weight: lighter;
}
h2{
  margin: 5px;
}
